.button_register{
    border-radius: 10px ;
    width: 285px;
    height: 70px;
    font-family: 'Ubuntu';
    font-size: 32px;
    color: antiquewhite;
    background-color: var(--orange-bg-principal);
    border: none;
    align-items: center;
}
.button_cancel{
    border-radius: 10px ;
    width: 285px;
    height: 70px;
    font-family: 'Ubuntu';
    font-size: 32px;
    color: var(--blue-bg-principal);
    margin-left: 34px;
}

.button_register, .button_cancel {
    cursor: pointer;
    transition: 0.7s;
}

.button_register:hover {
    filter: brightness(1.4);
}

.button_cancel:hover {
    background-color: var(--red-bg-principal) !important;
    color: #f8f8f8;
}